.header {
    background-color: #9be0aa;
    padding: 0 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo img {
    height: 40px;
}

.nav {
    display: flex;
    gap: 25px;
    margin: 0 auto;
}

.link {
    color: #3e3e3e;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
}

.link.active {
    font-weight: bold;
    text-decoration: underline;
}